@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
	/* height: 100%; */
	width: 100%;
	/* background-color: #772036; */
	/* background-image: url('https://bootstrapsale.com/projects/super-admin/resources/img/bg/1.jpg'); */
	object-fit: fill;
	background-repeat: no-repeat;
}

